/* Add any CSS styles or rules here */

html {
  width: 100%;
  background-image: url("soup.png");
  background-size: 100vw 200px;
  background-repeat: no-repeat;
  background-position: top;
  } 
    

.Welcome {
  text-align: center;
  padding:30px;
  color: white;
  margin-top: 30px;
    text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    2px 2px 0 black,
    2px 2px 0 black;
}

.dog {
  color:red;
  margin-top: 200px;
  text-align:center;
}

.dean {
  text-align: center;
}

.soon {
 display:inline-block;
  padding: 30px;
  
  margin-left:180px;
  border-style:solid;
  border-color:black;
  align-items: center;
}

.chomp {
  text-align: center;
}



.soon.animate__bounce {
  --animate-duration: 2s;
}