/* Add any CSS styles or rules here */

html {
  width: 100%;
  height: 500px;
  width: 1000px;
  background-image: url("soup.png");
  background-size: 100vw 200px;
  background-repeat: no-repeat;
  background-position: top;
  }
    

.Welcome {
  text-align: center;
  padding:30px;
}

.dog {
  color:red;
  margin-top: 200px;
  text-align:center;
}

.dean {
  text-align: center;
}

.soon {
 display:inline-block;
  padding: 30px;
  text-align:center;
  margin-left:75px;
  border-style:solid;
  border-color:black;
}

.chomp {
  text-align: center;
}

.welcome {
  text-align:center;
}