---
import Project from "../../components/Project.astro";
---

<Project
  title="Binary Search"
  assignment="Create a program built on the concept of binary search"
>
  <p>The Project is Shown Below</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <a
    href="https://iacs-cs.github.io/apcsp-24-25-binary-search-game-binary-search-game/"
    target="_blank"
    >Open in separate page</a>
    <iframe
    src="https://iacs-cs.github.io/binary-search-game-teddy"
    title="Personality Quiz"
    width="100%"
    height="800px"></a>
</Project>
