---
import Project from "../../components/Project.astro";
---

<Project
  title="Evolution of the Web Project"
  assignment="This was a group project (in our case, with 4 total members) 
  that required us to independently research 3 sources each about a project 
  of our choice (in our case, recommendation algorithms). We then presented
  our findings to the class to all educate each other.
>
  <p>The Project is Shown Below</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <a
    href="https://docs.google.com/document/d/1UucnemVll9l9zasAh4lX9Y3QL8T5Lgjf-xyf4pVkbww/edit?tab=t.0"
    >View Bibliography HERE!!</a
  >
  <iframe
    src="https://docs.google.com/presentation/d/1gCf7KqNit1PlBZFqAw0LpZ9hJlL-v-jVz0HFjyQBVjY/edit#slide=id.g2d550ce04e7_6_2"
    "
    title="MASH Project"
    width="100%"
    height="800px"
    ></a> </Project>
  </iframe></Project
>
