---
import Project from "../../components/Project.astro";
---

<Project
  title="Simulations Disease Project"
  assignment="Create a simulation of a disease spreading through a population, based on a real life disease"
>
  <p>The Project is Shown Below</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <div>
    <a
      href="https://iacs-cs.github.io/systems-project-disease-modeling-birthday-doubles/"
      target="_blank"
    >
      View Project on GitHub
    </a>
    <iframe
      src="https://iacs-cs.github.io/systems-project-disease-modeling-birthday-doubles/"
      title="Simulations Disease Project"
      width="100%"
      height="800px"
    >
    </iframe>
  </div>
</Project>
