---
import Project from "../../components/Project.astro";
---

<Project
  title="Turtle Mini Project"
  assignment="Create multiple functions and use parameters to give users a customizable expirence"
>
  <p>The Project is Shown Below</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <div>
    <a 
        href="https://github.com/IACS-CS/mini-turtle-project-jersey-drawing-teddy-owen-and-aidan" 
        target="_blank"
    >
        View Project on GitHub
    </a>
    <iframe 
        src="https://github.com/IACS-CS/mini-turtle-project-jersey-drawing-teddy-owen-and-aidan" 
        title="Mini Turtle Project"
        width="100%" 
        height="800px"
    >
    </iframe>
</div>

